@import "tailwindcss";

* {
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
	line-height: calc(1em + .5rem);

	--core-blue: #4262ff;
	--dark-blue: #050038;
}

main p { 
	@apply text-lg;
	color: #05003899;
}

ul button {
	@apply flex items-center gap-2;
}

.brainstorming {
	button {
		@apply p-4 pr-7 border border-gray-200 rounded-full text-sm;
	};
	
	div ul {
		@apply flex flex-col gap-3;
		li {
			@apply flex gap-2;
			&::before {
				content: url("images/checkmark.svg");
				position: relative;
				top: -3px;
			}
		};
	};
}

footer {
	div div div { @apply flex flex-col gap-5 }; /* lol */
	ul { @apply flex flex-col gap-2 };
	h3 { @apply text-xl font-bold };
	a { @apply underline after:content-['→']};
}